<div class="max-w-3xl mx-auto w-full">
  <div class="mb-6">
    <h1 class="font-bold text-3xl text-gray-800">Neuen Kurs erstellen</h1>
    <p class="text-gray-500 text-sm mt-1">Lege einen neuen Kurs an und definiere die Einstellungen.</p>
  </div>

  <%= render "form", course: @course %>
</div>
