<p>Hallo <%= @email %>!</p>

<p>Willkommen beim BTV Anmeldeportal. Bitte bestätige deine E-Mail-Adresse, indem du auf den folgenden Link klickst:</p>

<p><%= link_to "E-Mail-Adresse bestätigen", user_confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Wenn du dich nicht registriert hast, kannst du diese E-Mail ignorieren.</p>
