<p>Hallo <%= @resource.email %>!</p>

<p>Es wurde eine Anfrage zum Zurücksetzen deines Passworts gestellt. Klicke auf den folgenden Link, um ein neues Passwort zu wählen:</p>

<p><%= link_to "Passwort zurücksetzen", edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>Wenn du diese Anfrage nicht gestellt hast, kannst du diese E-Mail ignorieren. Dein Passwort bleibt unverändert.</p>
